<ion-header>
  <ion-toolbar>
    <ion-title>Currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-text class="ion-text-wrap">
      <h4>2020-2022</h4>
      Estudiante de Desarrollo Web en el I.E.S Jacarandá </ion-text>
    </ion-item>
    <ion-item>
      <ion-text class="ion-text-wrap">
      <h5>2010-2010</h5>
      Funambulista a media jornada en el circo del sol</ion-text>
    </ion-item>
    <ion-item>
      <ion-text class="ion-text-wrap">
      <h5>2008-2010</h5>
      Sexador de pollos del AngryBirds</ion-text>
    </ion-item>
    <ion-item>
      <ion-text class="ion-text-wrap">
      <h5>1998-1998</h5>
      Feto en el vientre de mi madre a jornada completa</ion-text>
    </ion-item>
  </ion-list>

</ion-content>
