<ion-header>
  <ion-toolbar>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h3 color="dark">Información</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        Aplicación desarrollada por Francisco Blanco. A continuación puede consultar más información sobre el autor.
      </ion-text>
      <ion-button routerLink="/curriculum" color="white">
        <ion-icon name="book-outline" slot="start" color="dark"></ion-icon>
        <ion-text color="dark">Currículum vítae</ion-text>
      </ion-button>

      <ion-button href="mailto:franbl98@gmail.com" color="white">
        <ion-icon name="mail" slot="start" color="dark"></ion-icon>
        <ion-text color="dark"><b>Correo: </b>franbl98@gmail.com</ion-text>
      </ion-button>

      <ion-button href="https://twitter.com/FranBM98" color="white">
        <ion-icon name="logo-twitter" slot="start" color="dark"></ion-icon>
        <ion-text color="dark"><b>Twitter: </b>FranBM98</ion-text>
      </ion-button>

      <ion-button href="tel:665041097" color="white">
        <ion-icon name="call" slot="start" color="dark"></ion-icon>
        <ion-text color="dark"><b>Teléfono: </b>665041097</ion-text>
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
